[2019-08-20 10:12] kossnocorp opened #2 "Add an abstraction around collection that contains singular or variety of unique documents"
I.e. global application settings

[2019-08-30 14:31] kossnocorp opened #3 "onQueryMap that would allow combine nested onQuery"
[code]

[2019-09-27 21:25] whaatt opened #5 "Allow Firebase peer dependency with version 7"
Hi there! Would it be possible to allow Firebase version 7 in the peer dependencies? It doesn't look like any of the breaking changes would affect this library.

Thanks!

https://github.com/kossnocorp/typesaurus/blob/b9d6b7e3881b0394ccf976fe4e77aa77acf8dfce/package.json#L46

[2019-09-27 23:31] whaatt opened #6 "Transaction API features"
Hi there (and sorry for creating all the issues)!

I noticed that the transaction API in `typesaurus` doesn't support querying within a transaction. In the types for Firestore, they [allow](https://github.com/googleapis/nodejs-firestore/blob/a425b8b50740d1ab0f07c1b657abed8d5dcea8a8/types/firestore.d.ts#L262) `transaction.get` to take a query object (and acquire pessimistic locks on all the returne

[2019-09-30 20:06] whaatt commented on #6
Also (and maybe this should be in a separate issue): Can the return type of `transaction` be parametrized by some `T`?  Firebase [recommends](https://cloud.google.com/firestore/docs/manage-data/transactions) passing information out of transactions using the return value (which probably should be well-typed).

[2019-10-01 18:37] whaatt commented on #6
One more idea I had: Firestore enforces that all reads precede all writes in a transaction. It seems like this could be enforced via types, by having `transaction` take two functions: one that performs reads (and only has access to `t.get` and `t.query`), and one that takes results from the read function and performs writes (with access to `t.update` and `t.remove`).

But maybe this is beyond the

[2019-10-02 22:40] whaatt opened #7 "Explicitly allow injection of `db` parameter"
Right now, every read or write function imports `firestore` from the adaptors, but it would be very useful if these functions could have this `db` parameter optionally injected. A single program can have multiple Firebase apps initialized, each with their own database link.

Example:
[code]

[2019-10-25 13:16] kossnocorp commented on #5
Hey! Sorry for the long response I wasn't subscribed for the notifications for some reason 😔

That's a good point, I'll make the dependency requirements looser.

[2019-10-25 13:22] kossnocorp commented on #6
No worries, thank you for taking the time and share your ideas. As I said in another issue I didn't receive notifications, so sorry for the long response. I really appreciate your interest in the library!

Wow, I didn't know that. Weird that it's not mentioned in the docs or simply missed it when worked on the function.

Do you know if it's supported by the web version as well?

I'll be really hap

[2019-10-25 13:24] kossnocorp opened #8 "Add type to the value returned from the transaction function"
See: https://github.com/kossnocorp/typesaurus/issues/6#issuecomment-536729107

[2019-10-25 13:24] kossnocorp commented on #6
Good point, I've created a separate issue for that: https://github.com/kossnocorp/typesaurus/issues/8

[2019-10-25 13:31] kossnocorp opened #9 "Create version of transaction function that accepts separate read and write functions"
See: https://github.com/kossnocorp/typesaurus/issues/6#issuecomment-537171776

[2019-10-25 13:32] kossnocorp commented on #6
That's an interesting idea and might help new developers. When I just started with Firestore I remember how I was confused by the transaction limitations.

How do you the API? Maybe something like this?

[code]

I've created an issue for that: https://github.com/kossnocorp/typesaurus/issues/9

[2019-10-25 13:32] kossnocorp commented on #7
Like the idea!

[2019-10-30 06:19] whaatt commented on #6
Yep, something like that would be great!

[2019-11-05 01:26] #5 closed

[2019-11-05 01:27] kossnocorp commented on #5
I've shipped the change with v2.1.0

[2019-11-07 23:02] kossnocorp opened #11 "Add support for in queries"
See the blog post: https://firebase.googleblog.com/2019/11/cloud-firestore-now-supports-in-queries.html

[2019-12-18 03:03] kossnocorp commented on #11
Released in v4

[2019-12-18 03:03] #11 closed

[2019-12-29 00:12] niklasravnsborg opened #12 "Nested Subcollections"
In my project I'm trying to query a subcollection that itself lives on a subcollection. From what I see, this is currently not possible with Typesaurus, right? The `subcollection()` function only accepts root collections as a parameter. Are you planning to support such kind of data modeling?

By the way, if find this is a very neat project. I tried both https://github.com/lmcq/firebase-firestorm a

[2019-12-29 06:41] kossnocorp commented on #12
Hey, Niklas! I'm glad to hear you like the project!

You're right about nested subcollections. I didn't realize that it was missing. The thing is that I prefer flat collections and never use subcollection, so that's why Typesaurus lacks proper support. However, now I see the problem and will approach it shortly. In meanwhile you can create collections on the spot:

[code]

Have a great NY too!

[2019-12-29 13:44] niklasravnsborg commented on #12
Thanks Sasha for the quick response, will try that later. :)

[2019-12-29 17:17] niklasravnsborg commented on #6
@whaatt @kossnocorp Working with the API now, it would be very cool if every Typesaurus function returns an interface or some kind of typed object. For example I'm using the `batch()` function and need to pass it to multiple consumer functions as an argument. It would be very helpful for me if I could define this input argument with some kind of type.

For example:

[code]

Greetings :)

[2020-01-01 15:38] kossnocorp opened #15 "Add merge option to transactions' set"
The same as in the regular set.

[2020-01-02 03:16] gabeklein opened #17 "Firestore peers produce inevitable unmet-dependancy warnings."
Due to the dual-environment nature of this package, it's understandable why `firebase-admin`, `@google-cloud/firestore` and `firestore` are peer-required. However, I would advocate that none of these are explicitly.

[2020-01-02 03:17] kossnocorp commented on #17
So you suggest removing peer dependencies at all?

[2020-01-02 03:21] kossnocorp commented on #17
I just noticed the issue title, and now it makes sense. You're right about that. I'll remove it, no need for useless warnings.

I can't help but wonder where peer dependencies are useful at all?

[2020-01-02 03:22] gabeklein commented on #17
Yea, sorry for the terse writeup though, I posted completely by accident before finishing my justifications for this change.

Anyway, yes I do and here's why. First of all the purpose of peer dependancies is to inform a consuming developer that some external package must be installed for a package to function properly. In this package's case, we have a situation where a different dependancy may be

[2020-01-02 03:24] gabeklein commented on #17
Also, I did check! `@google-cloud/firestore` is not even required in a node environment anymore. Apparently `firebase-admin` now ships that internally.

[2020-01-02 03:26] kossnocorp commented on #17
No worries, yeah, I agree with you. I will do the change with the next version.

[2020-01-02 04:18] kossnocorp opened #20 "Add initialization instructions to README"
See the comment for the reasoning: https://github.com/camr/staff-map/issues/1#issuecomment-546036326

[2020-01-02 09:03] #9 closed

[2020-01-02 09:03] #8 closed

[2020-01-02 10:05] #12 closed

[2020-01-02 10:09] kossnocorp commented on #17
Closed by https://github.com/kossnocorp/typesaurus/pull/19

[2020-01-02 10:09] #17 closed

[2020-01-02 10:21] #20 closed

[2020-01-02 10:26] kossnocorp commented on #3
I think that's out-of-scope for the library.

[2020-01-02 10:26] #3 closed

[2020-01-02 10:26] kossnocorp commented on #2
I think that's out-of-scope for the library.

[2020-01-02 10:26] #2 closed

[2020-01-02 20:00] mellet commented on #7
Or if we don't want to pass in the db for every get, set etc...
We could inject it when we create the collection ref:

[code]

[2020-01-03 07:31] kossnocorp commented on #7
@mellet that's an interesting approach, but this won't fly because the collection is always attached to a ref which must be serializable.

Probably we could register DB at first an then pass its alias to a collection, i.e.:

[code]

[2020-01-08 06:27] mellet opened #24 "Simple pagination with offset"
Could not find it in the documentation, but would be great if we could use [offset()](https://googleapis.dev/java/google-cloud-clients/latest/com/google/cloud/firestore/Query.html#offset-int-) instead of `startAfter` / `startBefore` etc for paginating documents.

Example from my firestore query:

[code]

[2020-01-08 07:45] kossnocorp commented on #24
Hm, interestingly enough, there's [no offset in the JavaScript web API](https://firebase.google.com/docs/reference/js/firebase.firestore.Query), but it's [present in Node.js](https://googleapis.dev/nodejs/firestore/latest/Query.html#offset). I'll take a look into how I can make it work.

[2020-01-08 20:57] lucasavila00 commented on #7
This would be awesome.
Right now I can't use @firebase/testing with typesaurus.
The issue is that the app you create with "admin.initializeTestApp" must be the one used to call .firestore() with, like this:

[code]

[2020-01-08 21:08] lucasavila00 opened #25 "Work with Gatsby (on node without firebase-admin)"
I'm having issues building a Gatsby site with typesaurus.
I don't actually use typesaurus while doing SSR, only on the client.

The issue is that if I don't have firebase-admin installed while doing SSR webpack will have an issue because it cannot find firebase-admin.

If I install it webpack will complain about not being able to process some ".proto" files.

I was able to fix it by patching the b

[2020-01-08 21:19] lucasavila00 commented on #24
Note: It's not recommended to use offset at the client:

[source](https://firebase.google.com/docs/firestore/pricing)

Also a comment by a member of firebase team: https://github.com/firebase/firebase-js-sdk/issues/479#issuecomment-364216376

[2020-01-09 06:04] kossnocorp commented on #7
@lucasavila00 you actually can use the testing model but not directly. The easiest way to do it is to use Firebase tools:

[code]

This command will set `FIRESTORE_EMULATOR_HOST=localhost:8080` environment variable, which will be detected and applied by firebase-admin. Alternatively, you can do via Firestore settings:

[code]

The same can be done [using web API](https://firebase.google.com/docs/r

[2020-01-09 06:18] kossnocorp commented on #24
@lucasavila00 ah, that's interesting! So it basically reads the number of documents specified as the argument, so further you go more expensive the query becomes. I'm wondering why the heck they did add it to firebase-admin then?

I can possibly add the function and throw an exception in the browser environment but that would encourage a bad pattern.

@mellet WDYT?

[2020-01-09 06:27] lucasavila00 commented on #7
I will give it a try. The big selling point of @firebase/testing is that it is able to mock the user auth and allow testing of security rules aswell. And being able to sign in without a user, then with a user, etc.
[It is open source](https://github.com/firebase/firebase-js-sdk/blob/master/packages/testing/src/api/index.ts#L116) but it seems to be using non public APIs, so it wouldn't be a good id

[2020-01-09 06:38] kossnocorp commented on #7
@lucasavila00 ah, ok! I didn't experiment with it enough to learn how auth stuff works. I'll see what I can do.

[2020-01-09 13:17] mellet commented on #24
@lucasavila00 @kossnocorp

Interesting, I wonder if the extra read costs also occur on the firebase-admin sdk when using offset.

I tried making the pagination with typesaurus, but could not figure out how I could paginate as I show above. If you have an example of how I could do it I don't need the offset.

I was looking at this [example](https://firebase.google.com/docs/firestore/query-data/quer

[2020-01-09 15:27] lucasavila00 commented on #7
Currently my tests are like this, for instance

[code]

[2020-01-09 16:01] kossnocorp commented on #7
@lucasavila00 oh, I see! Thank you for the example!

[2020-01-09 16:35] lucasavila00 commented on #24
@mellet this is an issue with firestore api, there isn't much of a work around.
Say you have a list of users ordered by the year they were born;
Then you could query by the year they were born (ex: year >= 1994) but if you have 1000 like this then there is no easy way to paginate between them (ex: year >= 1994 but skip the first 25)

This video touches the topic: https://www.youtube.com/watch?v=Id

[2020-01-09 16:38] kossnocorp commented on #24
There should be no difference between how firebase-admin and the web SDK works. I think it's just web API that is more open to attacks, unlike Node.js, where you fully control the environment. However, if you get the page number from user (URL) then it could be problematic and potentially expensive.

I'm not entirely sure how it works, and I'm going to dig it further, but from what I know, there's

[2020-01-09 16:46] kossnocorp commented on #24
@lucasavila00 thank you for the link to the video, it's helpful!

[2020-01-09 17:05] lucasavila00 commented on #25
The problem is really with how gatsby builts the site with webpack, not with typesaurus.

I did not create the issue hoping the fix would come soon but more as an umbrella for the issue and to have a place where people could document how they worked around the issue.

Given how complicated webpack is I was hoping to not touch their code and focus on creating a workaround with typesaurus.

If types

[2020-01-09 17:18] kossnocorp commented on #25
@lucasavila00 I'll be glad to add the Gatsby support if it doesn't disturb normal usage of the library.

But before I want to get to the bottom of this. I use webpack to build universal Firebase apps and never had problems with webpack compiling that. Maybe there's something in Gatsby's configuration that prevents it from working normally?

[2020-01-09 17:26] lucasavila00 commented on #25
I created an issue on Gatsby's repository aswell: https://github.com/gatsbyjs/gatsby/issues/20510
Even though I have been using Gatsby for a while this is the first time I've had issues with the build process so I have no idea how it works.
I'm reading a bit to see if I can figure it out.

[2020-01-22 21:44] niklasravnsborg commented on #7
We also have the case where we have to run the tests one after another because we can't give Typesaurus a specific Firestore to use. @kossnocorp Do you have a plan to incorporate such a functionality soon?

Niklas

[2020-01-23 18:04] kossnocorp commented on #7
@niklasravnsborg there're two approaches we did discuss here. One with passing the DB to every function and another with overriding the default instance globally. Which one are you interested in? I might approach both, but I'd like to understand your use case as well.

[2020-01-27 07:03] kossnocorp commented on #25
As I see Gatsby provided a solution using `useEffect`. I don't think that's ideal because that's tiresome to wrap every call in `useTypesaurus` or whatever, but that's the peculiarity of Gatsby's design. I work on a universal Firebase application with SSR and don't have such a problem, so it's not inherently Typesaurus or even Firebase issue.

If you're interested in making and maintaining gatsby-

[2020-01-27 07:03] #25 closed

[2020-01-27 07:07] kossnocorp opened #26 "Add support for deeply nested keys in the order function"
Right now, the order function allows using only root-level fields. Add type definition similar to where that will allow nested keys.

[2020-01-27 07:38] kossnocorp opened #27 "Allow using docs in cursors"
Right now, Typesaurs allows using only fields in `startAt`, `startAfter`, etc., but [Firestore also allows using snapshots](https://firebase.google.com/docs/firestore/query-data/query-cursors#use_a_document_snapshot_to_define_the_query_cursor).

[2020-01-31 15:05] kossnocorp commented on #7
@niklasravnsborg @lucasavila00 I've added the ability to inject the testing adaptor: https://github.com/kossnocorp/typesaurus/pull/29

I shipped the change `typesaurus@5.2.0-beta.1`. I still need to add proper docs and I might slightly change the API, but you can use it.

[2020-02-03 14:53] kossnocorp commented on #27
Closed by https://github.com/kossnocorp/typesaurus/pull/28

[2020-02-03 14:53] #27 closed

[2020-02-03 16:15] kossnocorp commented on #24
I made a research and figured out that offset is a Trojan Horse: https://firebeast.dev/tips/do-not-use-offset.

For example, this code will produce 2900 document reads:

[code]
I don't think I should let people shoot into their feet, so I'm closing it.

[2020-02-03 16:15] #24 closed

[2020-02-04 08:11] kossnocorp commented on #7
I've updated the API to be more flexible and about to release it as `5.2.0`:

In order to make Typeasurus work with `@firebase/testing` I added the ability to inject testing adaptor in Node.js that will enforce using Firestore emulator and provide the ability to override authorization:

[code]

[2020-02-04 08:26] kossnocorp commented on #6
Closing the issue as I addressed all the feedback, thank you a lot @whaatt!

[2020-02-04 08:26] #6 closed

[2020-03-16 21:54] pnaylor opened #32 "Deeply Nested Subcollections"
It looks like a new approach for handling nested subcollections has been implemented since #12, however it still only seems to be working with subcollections nested one level deep. When I try to declare a subcollection of a subcollection of a subcollection, such as:
[code]
This works until the last level, where I get the following error from the compiler:
`Type 'Course' does not satisfy the constr

[2020-03-16 23:16] pnaylor commented on #32
Ah, well I found this note on deeper nesting:
[code]
Missed that part.

[2020-03-16 23:16] #32 closed

[2020-03-16 23:18] pnaylor opened #33 "getDocParentId?"
It seems like it would be very helpful for working with subcollections if there was a function in the API to fetch the parent ID of a document, unless there is already some easier way to do this that I am not aware of yet.

Thank you!

[2020-04-06 17:48] pnaylor opened #34 "Doesn't seem to work with Parcel & rewrote my package.json"
Getting this error and warnings when trying to add Typesaurus [1.12] to my project built with Parcel.

From Browser:

After starting in terminal and seeing the following output:

Server running at http://localhost:1234
‼  Could not load source file "../src/index.ts" in source map of "../node_modules/typesaurus/index.js".
‼  Could not load source file "../../src/cursor/index.ts" in source map of ".

[2020-04-12 08:44] kossnocorp commented on #33
Hey, sorry for the long response. There's no easy way atm, but it should be easier to add. Right now you can parse the [collection's path](https://github.com/kossnocorp/typesaurus/blob/master/src/collection/index.ts#L6). You can access it via `someDoc.ref.collection.path`.

[2020-04-12 09:01] kossnocorp opened #35 "Make sure source map files are correctly built"
It appears that the source map files are being built incorrectly: https://github.com/kossnocorp/typesaurus/issues/34

[2020-04-12 09:01] kossnocorp commented on #34
Hey! That's all sounds weird, especially the bit about rewriting the package.json, there's definitely no code in Typesaurus that can do that.

I reckon it's a Parcel quirk, but I'm not sure.

Could you please check if the `node_modules\typesaurus\remove\index.js` actually in place?

Regarding the source file warnings, it looks like TS doesn't build them properly. I've created an issue for that: ht

[2020-04-12 09:03] kossnocorp opened #36 "Async mode"
Add submodule `typesaurus/async` that will enable the lazy loading of Firestore packages in the browser environment.

[2020-04-12 19:14] kossnocorp opened #37 "Add queryOne/queryFirst/first function"
Add `queryOne`/`queryFirst`/`first` function that will return a single element in the query or `null`.

[2020-04-13 14:15] justin-cheung commented on #15
#38

[2020-04-13 21:43] pnaylor commented on #33
I see ok, thank you for the feedback.

[2020-04-14 05:42] kossnocorp commented on #33
You're welcome. I'd like to keep the issue open, so I won't forget to add it.

[2020-04-14 15:05] #15 closed

[2020-04-15 11:46] kossnocorp opened #40 "Create separate merge function instead of set option"
Because the `merge` option passed to `set` completely changes the function behavior it makes sense to create separate function instead. It will help to provide better typing and avoid confusion.

[2020-04-15 11:59] kossnocorp opened #41 "Reflect that updating a nested field using update function will overwrite it"
As [a StackOverflow comment states](https://stackoverflow.com/a/47554197/75284),

Given the initial value:

[code]

Using `set` with `merge`:

[code]

Will produce:

[code]

While using `update`:

[code]

Will overwrite the `friends` field:

[code]

However when updating with the dot notation (using `field` with Typesaurus):

[code]

Will work similaraly to the set merge:

[code]

[2020-04-16 19:21] kossnocorp commented on #40
Closed by adding `upset` function that updates or sets.

[2020-04-16 19:21] #40 closed

[2020-04-19 14:25] thomastoye commented on #7
Testing is one component of this, but using a framework is another example where I'd want to inject `db`. I use `AngularFire` in Angular, with Firestore injected through DI. I'd like to use the provided database, preferable locally (passing it to Typesaurus functions) instead of setting it for the whole app, which could break stuff.

[2020-04-19 17:10] kossnocorp commented on #7
@thomastoye I've made changes in the past week that made possible DB injection. I can work on that soon, but I would love to know what you need the feature. Please describe your use-case so I can better understand it.

[2020-04-21 13:01] pie6k opened #45 "Is it possible to inject react native firebase ataptor?"
I've tried to check adaptor module, but it seems adaptors for browser and node are hardcoded there. Even if I can inject adaptor into `node` adaptor, the one from `google` is still imported there so I'd have to have it installed in my react native project.

React Native Firebase is trying to have the same JS API as browser one

[code]

https://rnfirebase.io/firestore/usage

[2020-04-22 08:03] kossnocorp commented on #45
Hey! That's an interesting problem. I never considered React Native but now it makes sense. It looks like React Native supports the `react-native` field in `package.json` so I can add a special adaptor for it.

[2020-04-22 08:31] kossnocorp commented on #45
@pie6k I've added experimental React Native adaptor #46 but can't build it as TypeScript detects a dozen of type errors in the `@react-native-firebase/firestore` type definitions. I'm wondering if you use it with TypeScript and if so, do you have such issues:

<details><summary>Show errors</summary>
<p>

[code]

</p>
</details>

[2020-04-22 08:35] kossnocorp commented on #45
Ok, I've figured that they have [buggy definitions](https://github.com/invertase/react-native-firebase/issues/2614), but I managed to disable those and released `typesaurus@6.1.0-alpha.1`.

@pie6k could please test it and see if it works. It supposed to work out-of-the-box without injecting the adaptor.

[2020-04-22 08:52] pie6k commented on #45
I'll try to play with it a bit later.

I've also added a few comments to #46 that might simplify it a bit.

[2020-04-23 18:58] thomastoye commented on #7
Hi @kossnocorp, I use Firestore from both Firbase functions and from my front end, which is written in Angular. To support isomorphic data access, I want to leverage Typesaurus.

This works for Firebase functions, since it's supported out of the box. Angular is a bit different. Instead of wiring everything up or adding a `<script>`, Angular has built-in dependency injection.

To use Firestore in a

[2020-04-27 13:00] kossnocorp opened #47 "Make update with fields to not overwrite parent"
Now, if you update nested fields using `field` function, it would overwrite the parent values. I need to fix that.

[2020-04-27 13:13] kossnocorp commented on #47
Tests show that I already work like that. It seems that the problem is in the way Firestore handles array updates.

[2020-05-01 08:03] thomastoye commented on #7
Explicitly injecting the db could also look like this, so you don't have to provide it every function call:

[code]

Then `add` etc. use `db` instead of the default db.

[2020-05-06 01:41] hotchpotch opened #49 "How to use `firebase` package in NodeJS?"
I use typesaurus with Next.js that is working on NodeJS and browser.

When typesaurus use with Next.js, require `firebase-admin`.
I want to use only `firebase` package.

Do you know how to use `firebase` package in NodeJS (or Next.js)?

[2020-05-06 07:35] kossnocorp commented on #49
Hey! I'm not quite sure how Next.js works, and I'm not familiar with using `firebase` in Node.js, but I doubt it will work.

Could you please tell me more about your use case so I can understand better how I can help?

[2020-05-07 00:15] hotchpotch commented on #49
Hi!

I created example.
- https://github.com/hotchpotch/next-with-typesaurus-example

[code]

raise error...

[code]

If changed `./node_modules/typesaurus/adaptor/package.json`

[code]

This is working. So I want use `firebase` package on Node.js.

[2020-05-08 10:06] kossnocorp commented on #49
I got you! I'm looking into it.

[2020-05-08 12:12] kossnocorp commented on #49
@hotchpotch, unfortunately, I can't provide a proper fix for you because of a Next.js bug: https://github.com/zeit/next.js/issues/12633

I would appreciate it if you can chime in into the issue.

In meanwhile you can use a workaround I've sent you in a PR: https://github.com/hotchpotch/next-with-typesaurus-example/pull/1. I also recommend using [Typesaurus React](https://github.com/kossnocorp/type

[2020-05-08 23:32] hotchpotch commented on #49
wow, great. Thank you very much! 😄

and I'll try to use TYpesaurus React right away!

[2020-05-08 23:32] #49 closed

[2020-05-09 06:36] kossnocorp commented on #49
You're welcome!

[2020-05-11 07:17] kossnocorp opened #50 "Add note about using with Next.js"
At the moment the only option to make Typesaurus work with Next.js is to add this command to `package.json`:

[code]

See for more info: https://github.com/kossnocorp/typesaurus/issues/49

[2020-05-29 18:08] kossnocorp opened #53 "Add add to batch"
It should internally use `id` & `set`.

[2020-05-29 18:11] kossnocorp opened #54 "Add auto-batch that chains batches of 500"
Instead of forcing API users to use batches of 500, allow adding more than that and then chain or simultaneously commit them.

[2020-05-30 19:39] joshua1 opened #55 "realtime: to destroy /unsubscribe"
Hi @kossnocorp, is there a way to unsubscribe from onQuery,onGet,onAll when certain query parameters are no longer available for e.g logged in user id (uid). If the realtime modules return a subscription, or promise that isn't a callback function like it currently is, it will be easy to unsubscribe.

[2020-06-03 01:10] mwood23 opened #56 "Ability to pass options to operations"
Awesome work on the library! For my app, it's common that I'll want to set data, but I'm not sure if it exists or not. Firebase handles this with passing `{merge: true}` to the set command. I looked and it didn't look possible right now.

https://firebase.google.com/docs/firestore/manage-data/add-data

Is that something you'd be interested in supporting? If you give me some direction I'd be happy

[2020-06-03 04:04] mwood23 commented on #56
Nevermind, found `upset`. Thanks!

[2020-06-03 04:04] #56 closed

[2020-06-03 06:07] kossnocorp commented on #56
Hey! I'm glad you liked it!

[2020-06-09 19:04] joshua1 commented on #55
@kossnocorp by the above I mean have onAll,onGet,onQuery return a subscription, instead of taking callback functions for onResult and onError. makes it easy to unsubscribe later when the subscription is no longer needed. e.g when onAuthStateChange event is fired and the user is no longer logged in, you want to unsubscribe from certain stores that require an active logged in user

[2020-06-15 16:14] kossnocorp commented on #55
Hey! Sorry I missed the issue 😵

All of those functions return unsubscribe function that you can use to unsubscribe from the data updates.

[2020-06-15 16:27] joshua1 commented on #55
Thanks, @kossnocorp, that is helpful

[2020-06-15 16:27] #55 closed

[2020-06-15 16:29] kossnocorp commented on #55
Please forgive me again. My email is a mess 😂

I'm wondering if, by any chance, you use React? I have a set of hooks that could make it easier to manage subscriptions.

[2020-06-15 16:31] joshua1 commented on #55
@kossnocorp  No, I am currently using svelte. I saw the project leveraging react hooks

[2020-06-15 16:31] kossnocorp commented on #55
Oh, sweet!

[2020-07-26 10:02] rigganator opened #59 "Where query key type problem"
Hi! Thank you for creating Typesaurus - extremely helpful and I would like to use it all the way in our project.

I'm creating a following psuedo sample model `samples.ts` using `6.0.0` version:
[code]
Consuming as:
[code]
But in return I get `'problemKey'` with:
[code]
I'm new to typescript and picking it up as I go. But it seems the compiler unable to resolve the type of problemKey:string to an

[2020-07-26 10:31] rigganator commented on #59
It seems the format of operation has changed from `===` to `==` in `where` clause that passes the type validation and gains the proper results.

[2020-07-26 10:31] #59 closed

[2020-08-02 19:21] rosariopfernandes opened #61 "Consider adding to firebaseopensource.com"
This is a great project and it's surely helpful for Firebase Developers. Consider [adding](https://github.com/firebase/firebaseopensource.com/issues/new?template=new_project.md) it to [firebaseopensource.com](https://firebaseopensource.com).

See [configuring your repo](https://github.com/firebase/firebaseopensource.com/blob/master/docs/configure-repo.md) for additional instructions.

[2020-08-03 06:46] kossnocorp commented on #61
That's a great idea, thank you!

[2020-08-09 14:33] TheBestMoshe opened #62 "How to use with "FieldValue.increment" etc."
I have a number field, and I would like to increment it with `FieldValue.increment`. However, doing so causes a type error. To fix the type error, I cast the `FieldValue` `as unknown as number`
[code]
However, in Firestore, the value gets converted into a `map` with a key of `operand`
[code]

Any suggestions?

[2020-08-09 15:39] kossnocorp commented on #62
Hey! There's [`value` function for that](https://typesaurus.com/modules/_value_index_.html#value):

[code]

[2020-08-09 15:39] #62 closed

[2020-08-15 03:29] reedom opened #63 "How to query by FieldPath.documentId()?"
Is there equivalent feature of `FieldPath.documentId()`?

I was tried to query "documentId-starts with",
if there was the one, it'd look like:

[code]

[2020-08-15 04:33] kossnocorp commented on #63
Hi! Sorry, there's none at the moment as I didn't know it exists!

I can add it the next week, or gladly accept a pull-request. In case if you want to help, I'd like to name it `docId`.

[2020-08-15 11:09] reedom commented on #63
I wanted to be a help so that I had tacked for hours.
But, no, Typescript's type system is too complicated to me yet... sorry 😭😭😭

[2020-08-15 11:20] reedom commented on #63
Only the test code snippet I wrote this time might be reusable as a draft.
https://github.com/reedom/typesaurus/blob/65b9d24d43a297ac66593cdf78f88fcceb71105c/src/query/test.ts#L487..L540

[2020-08-15 15:39] kossnocorp commented on #63
No worries, I'll tackle that! Thank you a lot for the effort. I appreciate it!

[2020-08-16 02:46] reedom opened #65 "want to have docChanges on onQuery etc."
For the client side performance improvement, I want to have "docChanges" on "onQuery" and other "on" series.
https://firebase.google.com/docs/firestore/query-data/listen#view_changes_between_snapshots

To achieve it, I think there are several API candidates while the docChanges should be supplied optionally for performance reasons.

1. Introduce variant functions for each "on" series. E.g. `onQuer

[2020-08-24 12:29] kossnocorp commented on #63
Thank you so much, I finished the work you started and published it with v6.2.0!

[2020-08-24 12:34] kossnocorp commented on #65
I love it, and I agree that the 2nd option works the best. I will happily accept a pull-request and help if it would be needed.

[2020-08-25 01:26] reedom commented on #63
Thanks for adopting the `docId` feature itself.

But..., it looks as that my patch code for the main part has also adopted, this is unexpected to me 😨

As I wrote

The reason why I implied not to use the patch code other than test code was that it had broke type restriction
of typesaurus' some features; dismissed one of _raison d'être_ of the library.

For example,
https://github.com/kossnocorp/ty

[2020-08-25 04:03] kossnocorp commented on #63
Aaaaah, now I see! Sorry about that, my bad. I'll look into that.

[2020-08-28 08:30] kossnocorp opened #68 "Add metadata to documents"
https://firebase.google.com/docs/reference/js/firebase.firestore.SnapshotMetadata

[2020-10-06 13:10] 0x77dev opened #71 "Firebase Functions"
Firebase Functions adapter, firebase functions does not requires to configure the app.

but instead of `firebase-admin` package, it is likely to use `firebase-functions`.

[2020-10-16 20:08] TheBestMoshe opened #72 "How to update nested maps"
I am trying to update a nested map. In Firestore SDK you would do
[code]
(See this answer: https://stackoverflow.com/a/49151326/9642772)

How would I do with typesaurus?

I'm pretty sure this I should be using [Fields](https://typesaurus.com/modules/_field_index_.html#field-1). However, I can't figure out the exact syntax. Any help would be appreciated.

[2020-10-20 08:57] #71 closed

[2020-10-30 01:38] zomble opened #73 "Firestore GeoPoint support"
The `admin.firestore.GeoPoint` class is returned for the `geopoint` type.

The `wrapData` function converts it to a plain object. e.g `{ _latitude: -1.323, _longitude: 23.5342 }`.

I would at least prefer to see `{ latitude: -1.323, longitude: 23.5342 }`.

Something like the following will be part of the change required:
[code]

How should typesaurus handle this type?

[2020-11-17 22:01] jcmendez opened #74 "Eliminate need for firebase-admin when building web-only spa"
Developing a SPA with vue.js, and added typesaurus for data access.  Now on build, when running `vue-cli-service build` I get the error "Cannot find module 'firebase-admin' or its corresponding type declaration".  I do have all needed for browser, but don't want to import admin code to keep attack surface smaller in terms of security.

[code]

Is there a way to do the imports in a way to avoid the

[2020-11-26 15:47] AlexanderArvidsson commented on #53
Any updates on this? I could take a look at implementing it and creating a pull request.

[2020-12-07 20:29] seanaguinaga opened #76 "Are Collection Group Queries supported?"
Are these supported?

https://firebase.googleblog.com/2019/06/understanding-collection-group-queries.html

I saw the group api - that's a cool, but different kind of group.

[2020-12-08 06:20] #65 closed

[2021-01-07 16:47] AlexanderArvidsson opened #82 "Support FieldValue.delete() in update and set"
I've been trying to remove a field using `field` function, but does not seem to be possible.
Here's what I've tried:
[code]
The resulting document has an empty object as the field, rather than deleting it.
Serialization issue or something?

Correct me if I am wrong, but it seems like this should be supported?
https://firebase.google.com/docs/firestore/manage-data/delete-data#fields

[2021-01-09 23:53] AlexanderArvidsson commented on #82
I just found out that I am supposed to use `value('remove')`.
So the new, working code would be as follows:

[code]

Would be nice if the frontpage of the documentation would list all operators next to the `value` function, so that anyone searching for it would find it directly.

[2021-01-09 23:53] #82 closed

[2021-01-26 22:55] LucioBevilacqua commented on #73
I'm having the same issue, did you manage to solve it?

[2021-01-31 22:42] bradkyle opened #83 "Unexpected token *"
Get the following error when trying to use typesaurus with google cloud functions:

The offending code:

[code]

Does anyone know what the cause of this could be?
Thanks

[2021-02-01 02:36] kossnocorp commented on #83
This error is coming from [@google-cloud/firestore](https://www.npmjs.com/package/@google-cloud/firestore). It appears that you have an old Node.js runtime, where the generators (* symbol) or async/await are not supported. What's your Node.js version?

[2021-02-04 04:17] kossnocorp opened #85 "🔥 Want to help Typesaurus? I'm looking for core contributors"
Hey!

If you use Firestore and TypeScript in day-to-day work and want to help make Typesaurus better, ping me at koss@nocorp.me or sending me DM https://twitter.com/kossnocorp.

Thanks,
Sasha

[2021-02-04 04:18] kossnocorp commented on #83
Hey, did you manage to figure out the problem?

[2021-02-05 03:13] utb2017 opened #86 "'ref(users).id' is throwing an error."
[code]

I can see that it says it will create an ID when one is not supplied. However, I can't get it to upload to google cloud functions without running into this error. Visual Studio is throwing an error too.

[code]

[2021-02-05 03:26] kossnocorp commented on #86
Hey! As the error says, you must provide the id: `ref(users, 'some-id')`. If you want to simply add a document, use add instead: `set(users, {name: 'John Doe'})`. It will return you a ref with an automatically assigned id.

If for some reason you must generate id beforehand, you can use `id` function: https://typesaurus.com/modules/_ref_index_.html#id (note that it's an async function), or nanoid:

[2021-02-05 03:27] kossnocorp commented on #83
It appears not to be a Typesaurus issue, but please reopen it with more details about the problem if you still think it is.

[2021-02-05 03:27] #83 closed

[2021-02-05 05:52] utb2017 commented on #86
The link you gave '_ref_index_' brings me to the code I posted above. The code I posted above isn't passing tslint.

[code]

[2021-02-05 08:36] kossnocorp commented on #86
I see. The link leads to `id`, but now I can see that it contains an outdated example. Sorry about that.

To make it work, the role field in the collection you query should extend `'manager' | 'driver'`

Check `group` function that creates a collection that you can query: https://typesaurus.com/modules/_group_index_.html#group

[2021-02-05 11:15] utb2017 commented on #86
I figured out the  `where('role', 'in',[ 'manager','driver'] )` with a version update.

[2021-03-19 19:36] Karlinator opened #87 "Passing SnapshotOptions."
I'd like to be able to pass or set somehow SnapshotOptions.

These can be useful when using serverTimestamps, where you can tell Firebase to use the previous value or an estimate instead of `null` while a write is pending.

This is passed as `data = documentSnapshot.data({serverTimestamps: 'estimate'})`.

https://firebase.google.com/docs/reference/js/firebase.firestore.SnapshotOptions (though the

[2021-03-20 01:04] kossnocorp commented on #87
Hey, you can try `8.0.0-alpha.21` where you can do that: `get(collection, id, { serverTimestamps: 'estimate' })`. v8 also considers that dates might be undefined unless it's in Node.js environment or `serverTimestamps: 'estimate'`. I use this version in production for several months already as I didn't have enough time to write documentation and tests for all those changes.

[2021-03-20 01:49] Karlinator commented on #87
Ooo, it didn't occur to me to look at pre-release versions. I'll definitely do that! I see it's available on the alpha for typesaurus-react too.

Thanks!

[2021-03-20 01:49] #87 closed

[2021-03-20 02:01] kossnocorp commented on #87
@Karlinator no worries, ping me if you have any questions.

[2021-03-20 02:43] Karlinator commented on #87
@kossnocorp I can't quite figure out how to actually use this.

I've got this line, usingtypesaurus-react:

    const [messages, messagesState] = useOnAll<Message>(messagesCollection, {serverTimestamps: "estimate"})

How do I pass the options correctly? It wants a second argument next to Message; what?

[2021-03-20 03:56] kossnocorp commented on #87
Sorry, I didn't realize, but serverTimestamps are missing in the Typesaurus React. Let me add those and get back to you.

[2021-03-20 06:02] kossnocorp commented on #87
Please try `typesaurus@8.0.0-alpha.22` and `@typesaurus/react@5.0.0-alpha.2`

[2021-03-20 13:09] Karlinator commented on #87
Thanks! It works!

[2021-04-28 01:39] gugahoi commented on #7
Thought I'd follow up to check what the current state of DI is in Typesaurus? I see that `setApp` requires `injectTestingAdaptor` as per the latest docs so is there currently a mechanism to inject an external `db` object for Typesaurus to consume?

[2021-05-25 02:47] kossnocorp opened #89 "Allow transaction's write function return non-promise"
Right now, the transaction expects the write function to return a promise, but it's rarely useful.

[2021-05-28 18:47] skwny opened #90 "saving `serverTimestamp()` not working as expected"
When using `firebase.firestore.FieldValue.serverTimestamp()`, the saved data results in:

![image](https://user-images.githubusercontent.com/13693304/120028776-012cf080-bfaa-11eb-803e-2a0115bc5155.png)

I've tried saving this via `set(doc, id, data)` as well as `db.doc(ref).set(data)` using the same ref and data, and only the latter method saves in the appropriate format, ie:

![image](https://use

[2021-05-28 19:33] skwny opened #91 "Timestamp not maintained with all()"
When retrieving data via `all(collection)`, what should be a Firestore timestamp is actually a Date object. This is unexpected as my schema is a Timestamp, and expects it to have all the associated methods when it comes out of firestore.

For example, the following is my schema:

[code]

And while saving data:

[code]

And when retrieving and using the data:
[code]

The above errors because `thing

[2021-05-29 03:15] kossnocorp commented on #90
Hey, sorry about that. You should use [`value('serverDate')`](https://typesaurus.com/modules/_value_index_.html#value) instead of the native `FieldValue`.

[2021-05-29 03:15] #90 closed

[2021-05-29 03:26] kossnocorp commented on #91
Hey, Typesaurus convert dates to timestamp and vise versa, so you can always use native `Date`:

[code]

[2021-05-29 03:26] #91 closed

[2021-06-11 08:04] zhenhao18 opened #92 "query(actually all the APIs) doesn't work when admin.initializeApp() with cross project"
Hello man,

My function works in firebase Project A, but need access firestore in Project B, with recommended code snippet typeSaurus only talked with Project A, rather than B. I got this error "The Cloud Firestore API is not available for Datastore Mode projects."

[code]

I can understand typeSaurus is trying to connect with fireStore of Project A, but how to talk with Project B?

Thanks very mu

[2021-06-11 08:12] zhenhao18 commented on #85
Hi man,

I am interested in this idea! I was used to mongoose and mongoDB, looking for similar ones, and typeSaurus is the one.
How should I work on this project?

Regards
Zhen

[2021-06-28 05:12] locona opened #93 "support generate documentId before add document."
### The usage in firebase is as follows.

[code]

The reason is that you want to publish the id before generating the document.
How about this method?

[2021-07-15 04:05] locona commented on #50
Hi, @kossnocorp

When used with SSR in Next.js, the authentication set in `Security Rule` (request.auth ! = null) does not pass.

As a solution, I would like to remove `postinstall` and use firebase-admin in SSR.

If there is another solution, could you please let me know?

[2021-07-26 21:26] ghayman opened #94 "Computed property names"
Having trouble getting Typosaurus accepting this update

`
await admin.firestore().collection('users').doc(context.auth!.uid).set({

    devices: {
      [`${token}`]: {
        osType: osType,
        updatedAt: dateFormat(new Date(), 'isoDateTime'),
      },
    },
  }, {merge: true});
`

Fields() doesn;t seem to want to take the derived property name - [`${token}`]

Any pointers?

Sorry if this

[2021-07-31 07:23] sushantdhiman opened #95 "get method from transaction read function should accept Query type"
This concern was earlier raised in #6, but was lost in discussion.

**For Node.js SDK**
Transaction support reading multiple documents using `get` by passing `Query`.

https://github.com/googleapis/nodejs-firestore/blob/f5bec38de92479ca7930178089843e77411ead3d/types/firestore.d.ts#L450-L457

**For Firestore JS SDK**
I don't think this is supported for Web version.

https://firebase.google.com/docs

[2021-08-20 21:25] ghayman commented on #94
Turns out that the issue is not with computed property names but the fact that 'devices' above was defined as optional in the Interface.

e.g.
interface Devices {
  optionalField?: Map<string, Device>,
  requiredField: Map<string, Device>,
}

await db.update(users, uid, [
    db.field(['optionalField', token], {
      osType,
      modifiedAt: new Date(),
    }),
]);

fails with "Type 'string' is

[2021-08-20 21:25] #94 closed

[2021-08-24 23:19] SrBrahma opened #96 "[Feature Request] Add firebase.firestore.GeoPoint() shortcut"

[2021-08-24 23:23] SrBrahma opened #97 "[Feature Request] ~"addIfNew"()"
If it already exists, won't do nothing, no error is thrown. Else, the doc is created.

Here is how I am doing it right now, with transaction.

It just check if it already exists, if not, set().

I ain't sure if the `!data?.data` is required or just `!data` would do it.

[code]

[2021-08-26 17:24] ReArno opened #98 "[BUG] The documentation web page not working"
The webpage at www.typesaurus.com not working.

[2021-09-10 00:01] SrBrahma commented on #2
Would this fall into this following case?

`root/stores/$storeId/private/members`

Being members a doc having a map to every uid of this store.

I am struggling to find out how to do it with typesaurus.

[2021-09-12 05:54] buster95 opened #99 "Support for firebase 9"
I'm trying to use typesaurus with firebase 9 but doesn't have support, is there a possibility to configure typesaurus with a custom adapter for firestore??

SS when I configure firebase
![image](https://user-images.githubusercontent.com/15637669/132973776-004749e0-7646-4c92-86bc-4f21a6f4172c.png)

SS about mistake
![image](https://user-images.githubusercontent.com/15637669/132973722-ad33e02a-ac92-

[2021-09-13 13:58] xbaun commented on #99
I tried to upgrade [typesaurus to v9](https://github.com/xbaun/typesaurus/commits/fbv9), but with the current typesaurus code base it's only possible to use firebase v9 in compat mode (which isn't compatible to new v9 api).

It appears that either the typesaurus adapter or all typesaurus functions need to be adjusted to reflect the new v9 api. Another problem, I think, is that firebase-admin and f

[2021-09-14 05:42] ReArno commented on #98
Now it works. So I close this issue.

[2021-09-14 05:42] #98 closed

[2021-09-28 21:21] SrBrahma commented on #99
@xbaun looks good but you built in on top of master branch instead of the incoming v8: https://github.com/kossnocorp/typesaurus/tree/v8

@kossnocorp

[2021-09-29 02:52] kossnocorp commented on #99
Sorry, guys for the silence, v9 support is coming.

[2021-10-08 15:13] SrBrahma opened #100 "Ignore undefined properties instead of changing them to null"
I have ```db.settings({
  ignoreUndefinedProperties: true,
});```

in my Cloud Functions to ignore undefined props, but them are being turned into null apparently by typesaurus. I just wanted to them to not be included in my update() if they are undefined.

https://github.com/kossnocorp/typesaurus/blob/7ec7091da299592751bca055bc7158e0d8ccaa2a/src/data/index.ts#L46-L47

I am now doing the following

[2021-11-06 08:56] locona commented on #93
## Resolve
use `docId()`

[2021-11-06 08:56] #93 closed

[2021-11-08 16:36] SrBrahma commented on #95
Also, @kossnocorp, it doesn't seem to be possible to allow multiple reads in a transaction, as it's in the Firestore raw transaction.

[2021-11-10 21:31] SrBrahma opened #101 "`where` first type declaration is messing the completion of field param when other params are filled"
Images to better explain:

### When writing first param. Working as intended:

![image](https://user-images.githubusercontent.com/28177550/141196096-6f4212b8-f2e9-4d20-92f7-f4f3ff5c3014.png)

### When filling first param when others are already filled. Intellisense not working, may enter invalid fields without TS error.

![image](https://user-images.githubusercontent.com/28177550/141195965-ee6644b

[2021-11-10 21:41] SrBrahma commented on #101
The problematic type is the DocId, that is declared just as `declare class DocId {}`, and that {} is probably being interpreted as any non-nullish value, as it says when we `type A = {}`:

[code]

Proof of that is that I can just write any type of value in the first param when the other params are filled, except null.

![image](https://user-images.githubusercontent.com/28177550/141197922-44629861-

[2021-11-16 20:37] SrBrahma opened #105 "Manual Timestamps are being changed"
Example:

[code]

![image](https://user-images.githubusercontent.com/28177550/142061365-6e76bdc0-4dc5-45ea-97c8-b5d5c571acf8.png)
![image](https://user-images.githubusercontent.com/28177550/142061378-3178669d-c97e-4d4f-933c-c58701d19c80.png)

It's not trivial. It's not allowing my query that compares Date to work, ex `where('myField', '>', new Date(0)),`. The query doesn't work in the {_seconds} o

[2021-11-16 20:38] SrBrahma commented on #105
I though it was a Emulator issue: https://github.com/firebase/firebase-tools/issues/3900

[2021-12-01 13:02] KoreanThinker commented on #105
@SrBrahma is there a temporary solution??

[2022-01-09 18:31] jimlloyd opened #110 "v8 and beyond"
I'm struggling a bit to build my first Firebase application. One of the biggest sources of friction for me is exactly what this project addresses. But another big source of friction is understanding the evolution the ecosystem and figuring out a compatible set of packages that I should pin to. I nearly concluded that Typesaurus has been abandoned given how long ago the last commit to master was.

[2022-01-09 18:53] SrBrahma commented on #110
I am considering to be a contributor for some months already, as this lib is important to me and I like it. As a matter of fact, I did something very similar to it for Realtime Database when I used it and before knowing this lib (https://github.com/SrBrahma/firebase-database-modeler). Only one guy said to be interested in #85 and looks like it didn't go forward.

I am using my fork with those 5 PR

[2022-01-09 22:27] jimlloyd commented on #110
Thanks for the response Henrique. I think I will give your package a try. Can you please specify which versions of firebase packages you use? Are there any known problems with any of the `node` versions supported by the firebase team? Do you by chance use https://www.npmjs.com/package/typed-ff, or know if there is any compatibility issues with it?

[2022-01-09 23:00] SrBrahma commented on #110
`"firebase-admin": "^9.12.0"` in my Cloud Functions server. It uses node 14.

Just found out that there is firebase-admin v10 and node 16 is already supported, I may give them a try tomorrow and they will probably work fine.

`"firebase": "8.10.0"` in my React Native (Expo) app. You can't use firebase v9 because its usage is different from v8 (not typesaurus v8) and typesaurus doesn't support it (

[2022-01-16 17:05] SrBrahma commented on #100
In `firebase.firestore().settings({})`, there is the `ignoreUndefinedProperties`:

`Whether to skip nested properties that are set to undefined during object serialization. If set to true, these properties are skipped and not written to Firestore. If set to false or omitted, the SDK throws an exception when it encounters properties of type undefined.`

As it doesn't fit exactly this issue, my idea

[2022-01-18 05:41] jimlloyd opened #112 "Does injectTestingAdaptor() actually work with '@firebase/rules-unit-testing'?"
I see that in v7.2 changes were made to replace the deprecated `@firebase/testing` package with `@firebase/rules-unit-testing` but I am confused by the change. It seems to me that merely changing

[code]

to

[code]

and then continuing to use

[code]

should fail as the API changed and `initializeAdminApp()` no longer exists. The documentation has not been updated to show what is the correct way

[2022-01-19 05:26] SrBrahma commented on #97
I am no longer interested in this as my code has changed.

[2022-01-19 05:26] #97 closed

[2022-01-19 23:46] SrBrahma commented on #72
You can do it by

[code]

If you need a dynamic key, like having a variable inside (like ids), you can

[code]

[2022-01-20 00:07] SrBrahma commented on #72
Actually, the above is only TS-allowed on transactions. For update outside transactions, you can do this:

```update(myCollection, myDocId, [field(['first', 'second'], value)]);```

[2022-01-20 10:12] daniel opened #113 "Possibility to disable timestamps being converted to dates"
I've stumbled upon a problem with Typesaurus automatically converting timestamps to dates. In cloud functions background triggers, e.g. "on create" I get the data with timestamps, but when I use Typesaurus to fetch data I get the data with dates. This means that my type definition must declare that the date can be either timestamp or date. This also adds complexity that any code that uses the data

[2022-01-24 03:55] SrBrahma commented on #113
Hi @daniel. I've implemented https://github.com/kossnocorp/typesaurus/pull/111 few days ago on top of the v8 branch, a newer one, to implement settings. You could add something like `convertTimestampToDate` as setting, defaulting to true to keep the current behaviour.

What you want to change is here, in `wrapData` function:

https://github.com/kossnocorp/typesaurus/blob/7ec7091da299592751bca055bc

[2022-01-24 09:00] daniel commented on #113
Thanks! I tried forking typesaurus and making some changes, but I couldn't figure out how to make the package build when installed in another project. I've tried adding a prepare script inside package.json, but couldn't make it work. Do you know how to do that?

[2022-01-24 10:00] kossnocorp commented on #113
I'm not sure if it's worth adding this option. It will make types much harder to define and resolve (for TypeScript).

I propose to have a wrapper for Functions triggers that wrap the data correctly. There's a need for it anyway.

Unless I'm missing something and they're more cases when timestamps get exposed, I prefer keeping the date behavior as is and adding Functions wrapper instead.

[2022-01-24 14:04] SrBrahma commented on #113
Maybe @daniel can even use the wrapData function on the trigger data to convert the Timestamps to Dates, as an existing solution.

[2022-01-24 21:17] SrBrahma commented on #113
@daniel, another user here days ago mentioned a trigger lib, https://github.com/kossnocorp/typesaurus/issues/110#issuecomment-1008436268, the https://github.com/Yuiki/typed-ff.

For my surprise, it not only uses typesaurus but also uses that wrapData idea I had. It should exactly fit your case 😉

I was considering before noticing it to implement those triggers on typesaurus, but as the linked lib

[2022-01-25 09:23] daniel commented on #113
Thanks @kossnocorp and @SrBrahma ! Yesterday I made a simple wrapper for function triggers and it solved my problem. I'm gonna take a look [typed-ff](https://github.com/Yuiki/typed-ff), that's probably an even better solution.

[2022-01-25 09:35] kossnocorp commented on #113
@daniel, I'm glad that it worked out for you. I contacted the author of `typed-ff` and suggested to join the efforts: https://github.com/Yuiki/typed-ff/issues/8

I have a few ideas on adding more type safety to the thing. For instance, the custom id isn't safe, but there's a way to make it happen.

I'm closing the issue as there's nothing actionable at the moment.

[2022-01-25 09:35] #113 closed

[2022-03-28 07:34] tylim88 commented on #110
I develop a Typescript wrapper for Firestore web V9

heavily tested and just released it, https://github.com/tylim88/Firelordjs

it has a deep type-safe mechanism, and of course this mean it support nested data type, the max depth is limited only by Typescript and Firestore

[2022-03-28 18:39] SrBrahma commented on #110
Seems very cool, @jimlloyd! In a next project I will give it a better look!

[2022-04-29 16:10] harshmaur commented on #92
I'm having similar problem.

[2022-07-16 15:48] olehmisar opened #115 "Using zod for data validation"
## The problem
Right now, defining a collection looks like this and is based on **type assertions**, i.e., the type of data is NOT validated in runtime.
[code]
It means that firebase may contain data with a different shape:
[code]
...and the following code will now be unsound:
[code]

## Proposal
I propose using [zod](https://github.com/colinhacks/zod) validation library for runtime validation of

[2022-07-30 12:55] sushantdhiman commented on #110
When I started with Firebase, this project helped me a lot as firestore was missing proper type safety, even for basic `get`, `update` like operations.

But from many months this library is in limbo state, I actually written my new project with vanilla `firebase-admin` library, as Google has improved Typescript support a lot.

Today I even converted my initial project to use `firebase-admin@11`. I

[2022-07-30 19:34] jimlloyd commented on #110
@sushantdhiman I agree. `firebase-admin` with `converters` is ok. The client API with converters is also ok. I think it would probably be nice if they were the *same* API, but given that I have client and server (firebase functions) code in the same repo, and have at times confused myself by starting to use server code in a client context or vice versa, maybe having them be different but similar A

[2022-07-31 00:07] kossnocorp commented on #110
I don't know your reason for writing all that, but that's pretty demotivating to hear how much you are better without free open-source supported by a single person.

For the past few weeks, I've been working virtually full-time on a new version that will solve outstanding problems and bring more type safety with better API. If you want a sneak peek: https://twitter.com/kossnocorp/status/1525111483

[2022-07-31 00:07] #110 closed

[2022-07-31 15:03] jimlloyd commented on #110
@kossnocorp your sneak peek looks very cool. I kind of wish I knew about it in May (or sooner) when you posted that twitter thread. With all respect, if you do want others to contribute, you should make it clear that you prefer to use Twitter to coordinate instead of GitHub issues -- including responding to each issue with a link to your twitter ID. I created this issue to ask for info and you nev

[2022-08-02 18:29] tianhuil commented on #115
We're implementing some version of this; it turns out there's some subtlety about how it works (e.g. with `transform`).  On the bright side, we use `zod` to process away the weird Firestore custom time (we just get back `Date`).  However, there's actually a lot of complexity, depending on how complex you want to make it (e.g. a zod transform for adding a field `name
 firstName + lastName`.

[2022-10-25 09:39] braaar opened #117 "feature: add patch function?"
For a project that uses Typesaurus, I wrote a `patch` function that, unlike the `update` function, only updates data on the keys that you provide in your input. This is useful for writing PATCH functionality that let you apply a partial patch to your document.

Say my document in firestore is like this:
[code]
If I want to only update `myField` I can provide this as the input to the `patch` functi

[2022-10-25 10:36] kossnocorp commented on #117
Hey, thank you so much for the detailed suggestion. I love the idea, even though I never encountered the need to do that.

There's a problem that requires a detailed explanation, so sorry for the long response.

I'm currently working on a new version of Typesaurus, and one of my goals for me was to ensure schema consistency. The problem with partial updates is that they might easily spoil the data

[2022-10-25 13:06] braaar commented on #117
My implementation generally relies on the assumption that you are working with a document whose fields are all optional, or that you have verified that your input contains any required fields before you run the patch function. So my example was inaccurate. I should have added `?` to each field to signify that they were all optional.

But I don't think it needs to be like that. If the model has som

[2022-10-28 05:30] braaar commented on #33
I found this tip useful!

The path looks like this for a document in a subcollection named `thisCollectionName`:
`'parentCollectionName/parentDocumentId/thisCollectionName'`

A simple `.split('/')` does wonders here :)